animation_lab/data/*

asset_processor/frames/*
asset_processor/output/*
asset_processor/video/*

/audiolab/data/
audio_lab/data/*

picture_lab/data/*
picture_lab/output/*

video_lab/frames_output/*
video_lab/video_input/*





